.header {
	height: 60px;
    background-color: #808080;
}

.navbar {
	width:97%;
}

ul {
	list-style-type: none;
    float: right;
    margin: 0px;
}
li {
    padding: 10px;
    float: left;
}
.navbar-list-item {
    width: 70px;
    height: 7px;
    background-color: white;
    margin: 10px 10px 10px 10px;
}
.navbar-button {
	height: 30px;
    width: 90px;
    margin-top: 0px;
}
.logo {
    height: 90px;
    width: 80px;
    float: left;
    background-color: #333333;
    margin-left: 40px;
}