* body {
	margin: 0px;
	padding: 0px;
}

.header {
	position: relative;
	height: 40px;
}

.navbar {
	width: 100%;
	position: fixed;
	background: #24a8a8;
}

ul {
	list-style-type: none;
	line-height: 30px;
	float: right;
	font-size: 25px;
}

li {
	display: inline;
	padding-right: 60px;
}

.middle-left {
	width: 45%;
	background-color: #2dd2d2;
	height: 400px;
	float: left;
	margin: 60px 20px 40px 20px;
}

.left-content {
	border: solid;
	width: 50%;
	margin: auto;
	margin-top: 25px;
	line-height: 150px;
	text-align: center;
	font-size: 20px;
	color: Brown;
	background-size: 100% 100%;
}

.first-left {
	background-image: url("../img/cat1.jpg");
	}

.second-left {
	background-image: url("../img/cat2.jpg");
}

.middle-right {
	width: 49%;
	background: #2dd2d2;
	height: 400px;
	float: left;
	margin: 60px 20px 40px 20px;
}

.right-content {
	border: solid;
	float: left;
	line-height: 350px;
	margin: 20px 10px 10px 15px ;
	width: 45%;
	text-align: center;
	font-size: 20px;
	color: yellow;
	background-size: 100% 100%;
}

.first-right {
	background-image: url(../img/cat3.jpg);
}

.second-right {
	background-image: url(../img/cat4.jpg);
}

.footer {
	line-height: 250px;
	background: grey;
	float: left;
	text-align: center;
	margin: 20px 20px 20px 20px;
	width: 30%;
	font-size: 20px;
	background-color: #abeded;
}

