.detail-page {
	background-color: white;
    width: 72%;
    height: 700px;
    float: right;
}
.email-section {
	margin:20px;	
}
.add-member {
	float: right;
    color: white;
    background-color: green;
    border-width: 1px;
    border-color: green;
    font: 15px Arial;
    padding: 10px;
}
.email-address {
	margin-top:20px;
}
input[type="textbox"] {
	width:95%;
	height:100px;
	margin-top:5px;
	margin-bottom:5px;
}
.btn-send-invitaion {
    margin: 15px;
    display: block;
    padding: 5px 10px;
    background-color: darkgrey;
    color: white;
    font: 15px arial;
    border-style: none;
}
.email-section-seperator {
/*	margin: 0px auto; */
    border-style: dashed;
    width: 95%;
    color:grey;
}

.member-section {
	margin:20px;
}
.member-list {
	list-style-type: none;
}
.member-list li {
	margin: 20px 10px 20px -28px;
}
.btn-member {
	float:right;
	margin-top:-23px;
	
}
.btn-member button {
	margin:5px;
}
.member-section-seperator {
	margin: 0px auto;
    border-style: dashed;
    width: 95%;
    color:grey;
}

.invitation-section {
	margin: 20px 10px 20px 28px;
}
.invitation-list {
	list-style-type: none;
	padding:0px;
}
.invitation-list li {
	margin-top:20px;
}
.btn-invitation{
	float:right;
	margin-top:-7px;
	margin-right:20px;
}
.btn-invitation button {
	margin:5px;
}

.btn {	
    padding: 8px;
    background-color: white;
    border-style: ridge;
}

.success-btn {
	margin: 5px;
    color: darkcyan;
    border-color: darkcyan;
}

.cancel-btn {
	margin:5px;
	color:red;
	border-color: red;
}

@media only screen and (max-width: 940px) {
  input[type="textbox"] {
  	display:block;
  	margin-left:5px;
	}
}