* body {
	margin:0px;
	padding:0px;
	background-color: #f2f2f2;
}
.container {
	height:auto;
	width:80%;
	margin:0px auto;
}
.header {
	background-color: white;
}
.navbar {
	 width:100%;
	 height:60px;
}
img {
	height:50px;
	width:20%;
	margin-left:20px;
}
.header-dropdown {
    float: right;
    margin-top: -34px;
    margin-right: 35px;
}
select {
	border: none;
    font-size: large;
    width: 90px;
}
.middle-container {
	margin-top:20px;
}
.sidebar {
	background-color: white;
    width: 26%;
    float:left;
}
.sidebar-list {
	list-style-type: none;
    font-size: 20px;
}
.sidebar-list li {
	margin:15px auto;
}
.sidebar-seperator {
	margin: 0px;
    border-style: dashed;
    width: 26%;
    color:grey;
}
.organization {
	background-color: white;
	width:26%;
	margin-top:20px;
	margin-bottom:20px;
	font-size:20px;
	padding-left:10px;

}
.organization-seperator {
	margin: 0px;
    border-style: dashed;
    color:grey;
    margin-bottom:20px;
}
.organization h4 {
	display:inline;
	margin-right: 10px;
}
.organization a{
	float:right;
}
.organization-list li {
	margin:10px auto;
}
